.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures the content is vertically centered */
    text-align: center;
    background-color: #f0f0f0; /* Optional: background color */
  }
  
  .start-btn {
    padding: 15px 30px;
    font-size: 16px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .start-btn:hover {
    background-color: darkgreen;
  }
  